{% extends "base.html" %}
{% load base_tags %}
{% load crispy_forms_tags %}

{% block content %}
<h2 class="mt-4">{{ title }}</h2>

<form method="post" action=".">
    {% csrf_token %}
    <div class="card" style="width: 80wh;">
        <div class="card-header">
        <h6 class="card-text">Add {{ title }}</h6>
        </div>
        <div class="card-body">
        {% crispy form %}
        </div>
        <div class="card-footer d-flex justify-content-between">
            <span>
                <a class="btn btn-secondary" href="{% url "vitis:changelist" app model %}">Cancel</a>
                <button class="btn btn-danger" type="submit">Delete</button>
            </span>
            <span>
                <button class="btn btn-primary" type="submit">Save</button>
            </span>
        </div>
    </div>
</form>

{% endblock content %}